
.monitoreo {

    display : flex ;
    justify-content : center ;
    align-items : center ;
    height : 100% ;
    width : 100% ;

    .contenedor_PanelIzquierdo {
        /* Contenedor */
        height : inherit ;
        flex : 1 ;
        background-color : #77BFC7 ;    /* Azul */
        border : 2px solid #8A2BE2 ;    /* Morado */
        border-radius : 8px ;
    }

    .opciones-izquierda {
        /* Posición */
        position : static ;
        /* Contenedor */
        border-bottom : 2px solid #8A2BE2 ;     /* Morado */
        /* Elementos */
        padding : 15px 5% 14px ;
        gap : 5% ;
        display : flex ;
    } .opciones-izquierda select {
        /* Reseteo de estilo */
        appearance : none ;
        -moz-appearance : none ;
        -webkit-appearance : none ;
        /* Contenedor */
        width : 80% ;
        height : 52px ;
        background-color : #F18200 ;            /* Naranja */
        border : 2px solid white ;
        border-radius : 8px ;
        /* Letra */
        font-size : 70% ;
        color : white ;
    } .opciones-izquierda select:hover {
        font-weight : bold ;
    }

    .barra-buusqueda {
        /* Posición */
        position : static ;
        /* Contenedor */
        width : 100% ;
    }

    .casilla {
        /* Contenedor */
        border-bottom : 1px solid #8A2BE2 ;    /* Morado */
        /* Elementos */
        padding : 0 12px ;
        .rootulo {
            display : flex ;
            justify-content : space-between ;
            .id {
                /* Posición */
                margin : 2% 0 ;
                /* Letra */
                color : black ;
                font-size : 100% ;
            }
            .rol {
                /* Posición */
                margin : 2% 0 ;
                /* Letra */
                color : black ;
                font-size : 100% ;
                font-weight : bold ;
            }
        }
        .contacto {
            /* Posición */
            margin : -4px 0 2px 0 ;
            /* Letra */
            font-size: 80% ;
            color : white ;
            font-style : italic ;
        }
    }

    .contenedor_PanelDerecho {
        /* Posición */
        margin-left : 10px ;
        /* Contenedor */
        height : inherit ;
        flex : 2.2 ;
        background-color : #77BFC7 ;    /* Azul */
        border : 2px solid #8A2BE2 ;    /* Morado */
        border-radius : 8px ;
    }

    .registro {
        /* Posición */
        margin : 2% ;
        /* Contenedor */
        background-color : #FFC901 ;
        border : 2px solid #8A2BE2 ;    /* Morado */
        border-radius : 8px ;
        /* Elementos */
        display : flex ;
        justify-content : center ;
        align-items : center ;
        /* Letra */
        font-size : 100% ;
    }

    .desplazadora {
        /* Posición */
        overflow : scroll ;
        /* Contenedor */
        height : 83% ;
    }

    .nuevo-registro {
        /* Posición */
        margin : 20px 2% ;
        display: flex;
        align-items: center;
        justify-content: center;
    } .nuevo-registro button {
        /* Contenedor */
        width : 100% ;
        background-color : #F18200 ;
        border-radius : 8px ;
        border : 2px solid black ;
        box-shadow : none ;
        /* Letra */
        color : black ;
        font-family : Arial,Helvetica,sans-serif ;
        font-size : 120% ;
    } .nuevo-registro button:hover {
        font-weight : bold ;
    }

}

