
.contenido {
    /* Posición */
    margin-top : 10px ;
    position : static ;
    /* Contenedor */
    height: 480px ;
    background-color : lightgray ;
    border : 4px solid grey ;
    border-radius : 10px ;
    /* Elementos */
    display : flex ;
    justify-content : center ;
    align-items : center ;
    padding : 15px 14px ;
}

