
.emergente {

    /* Posición */
    position : fixed ;
    top : 0 ;
    left: 0 ;
    /* Contenedor */
    width : 100vw ;
    height : 100vh ;
    background : rgba(0,0,0,0.5) ;
    /* Elementos */
    display : flex ;
    justify-content : center ;
    align-items : center ;
    z-index : 1000 ;

    .ventana {
        width : 50% ;
        /* Contenedor */
        background-color : lightgray ;
        border : 4px solid grey ;
        border-radius : 10px ;
        box-shadow : 0 4px 6px rgba(0,0,0,0.2) ;
        /* Elementos */
        padding : 3.5% 3% ;
        text-align : center ;
    }

    .mensaje {
        margin-top : -0.2% ;
        font-size : 120% ;
        margin-bottom : 8% ;
    }

    .botones {
        display : flex ;
        justify-content : space-around ;
        gap : 5% ;
        .cancelar {
            width : 40% ;
            /* Contenedor */
            background-color : #d04a41 ;
            border : 2px solid #82261f ;
            border-radius : 10px ;
            /* Letra */
            font-size : larger ;
            color: white ;
        }.cancelar:hover {
            /* Letra */
            color: #82261f ;
            font-weight : bold ;
        }
        .verificar {
            /* Contenedor */
            width : 40% ;
            background-color : #4159d0 ;
            border : 2px solid #1f2f82 ;
            border-radius : 10px ;
            /* Letra */
            font-size : larger ;
            color: white ;
        }.verificar:hover {
            /* Letra */
            color: #1f2f82 ;
            font-weight : bold ;
        }
        .enviar {
            /* Contenedor */
            width : 40% ;
            background-color : #41d04d ;
            border : 2px solid #1f822f ;
            border-radius : 10px ;
            /* Letra */
            font-size : larger ;
            color: white ;
        }.enviar:hover {
            /* Letra */
            color: #1f822f ;
            font-weight : bold ;
        }
    }

}

