
.reportes {

    /* Posición */
    margin : 2% ;
    /* Contenedor */
    height : 100% ;
    width : 100% ;
    /* Elementos */
    display : flex ;
    align-items : center ;
    justify-content : space-between ;
    
    .seccioon {
        /* Contenedor */
        height : 60% ;
        width : 16% ;
        background-color : silver ;
        border : 2px solid gray ;
        border-radius : 8px ;
        /* Elementos */
        display : flex ;
        flex-direction : column ;
        align-items : center ;
        justify-content : space-between ;
        padding : 0 10px 10px 10px ;
    }
    
    .tiitulo {
        /* Posición */
        transform : translateY(-33px) ;
        margin-bottom : -22% ;
        /* Contenedor */
        height : 14% ;
        width: 100% ;
        background-color : lightgray ;
        border : 2px solid gray ;
        border-radius : 8px ;
        /* Letra */
        color : black ;
        font-family : Arial, Helvetica, sans-serif ;
        font-size : 120% ;
        text-align : center ;
        line-height : 200% ;
    }

    .lista {
        display : flex ;
        flex-direction : column ;
        justify-content : space-evenly ;
        /* Posición */
        top : -10% ;
        /* Contenedor */
        height : 60% ;
        width: 100% ;
        background-color : lightgray ;
        border : 2px solid gray ;
        border-radius : 8px ;
        /* Letra */
        color : black ;
        font-family : Arial,Helvetica,sans-serif ;
        font-size : 80% ;
        text-align : left ;
        /* Ítems */
        padding : 0 ;
        line-height : 140% ;
        list-style-type : none ;
        overflow : scroll ;
    } .lista li {
        /* Contenedor */
        background-color : lightgray ;
        border-top : 1px solid silver ;
        /* Elementos */
        padding : 10% 0 4% 12px ;
        line-height : -10px ;
    } .lista li:first-child {
        border-top : none ;
        margin-top : -8px ;
        margin-bottom: -7px;
    } .lista input {
        /* Posición */
        margin-top : -10% ;
        margin-left : -18px ;
        /* Contenedor */
        width : 80% ;
        height : 120% ;
        background-color : lightgray ;
        border : none ;
        border-bottom : none ;
        border-radius : 0 ;
        box-shadow : none ;
        /* Letra */
        color : black ;
    } .lista li:hover {
        text-decoration : underline ;
    }

    .opciones button {
        /* Posición */
        margin-bottom : 12% ;
        /* Contenedor */
        height : 60px ;
        width : 100% ;
        background-color : lightgrey ;
        border : 2px solid black ;
        border-radius : 8px ;
        /* Letra */
        color : black ;
        font-family : Arial,Helvetica,sans-serif ;
        font-size : 110% ;
    }.opciones button:hover {
        font-weight : bold ;
    }

}

